<div class="sidebar-header">
	<img src="theme/assets/img/logo_white.png" alt="logo" class="brand" data-src="theme/assets/img/logo_white.png" data-src-retina="theme/assets/img/logo_white_2x.png" width="78" height="22">
</div>
<div class="sidebar-menu">
    <ul class="menu-items">
      <li ui-sref="index" ui-sref-active="open detailed" class="m-t-30">
        <a ui-sref="index">
          <span class="title">Dashboard</span>
        </a>
        <span class="icon-thumbnail" ui-sref="index" ui-sref-active="bg-danger"><i class="fa fa-home"></i></span>
      </li>
      <li ui-sref="app.doctor" menu-close ui-sref-active="open">
        <a ui-sref="app.doctor">
          <span class="title">Doctors</span>
        </a>
        <span class="icon-thumbnail" ui-sref="app.doctor" ui-sref-active="bg-danger">
          <i class="fa fa-user-md"></i>
        </span>
      </li>
      <li ui-sref="nurse" menu-close ui-sref-active="open">
        <a ui-sref="nurse">
          <span class="title">Nurses</span>
        </a>
        <span class="icon-thumbnail" ui-sref="nurse" ui-sref-active="bg-danger">
          <i class="fa fa-stethoscope"></i>
        </span>
      </li>
      <li ui-sref="app.hospital" menu-close ui-sref-active="open">
        <a ui-sref="app.hospital">
          <span class="title">Hospitals</span>
        </a>
        <span class="icon-thumbnail" ui-sref="app.hospital" ui-sref-active="bg-danger">
          <i class="fa fa-h-square"></i>
        </span>
      </li>
      <li ui-sref="centers" ui-sref-active="open">
        <a ui-sref="centers" class="detailed">
          <span class="title">Health Centers</span>
        </a>
        <span class="icon-thumbnail" ui-sref="centers" ui-sref-active="bg-danger">
          <i class="fa fa-medkit"></i>
        </span>
      </li>
      <li ui-sref="questions.me" ui-sref-active="open">
        <a ui-sref="questions">
          <span class="title">Questions</span>
        </a>
        <span class="icon-thumbnail" ui-sref="questions" ui-sref-active="bg-danger">
          <i class="fa fa-question-circle"></i>
        </span>
      </li>
      <li ui-sref="videos.list" ui-sref-active="open">
        <a  ui-sref="videos">
          <span class="title">Videos</span>
        </a>
        <span class="icon-thumbnail" ui-sref="videos" ui-sref-active="bg-danger">
          <i class="pg-video"></i>
        </span>
      </li>
      <li class="">
        <a target="_blank" href="" menu-drop>
          <span class="title">Checklists</span>
          <span class="arrow"></span>
        </a>
        <span class="icon-thumbnail"><i class="fa fa-flag-checkered"></i></span>
        <ul class="sub-menu" id="sub-menu">
          <li class="">
            <a href="#">Prenatal</a>
            <span class="icon-thumbnail"><i class="pg-unordered_list"></i></span>
          </li>
          <li class="">
            <a href="#">Postnatal</a>
            <span class="icon-thumbnail"><i class="pg-unordered_list"></i></spn>
          </li>
        </ul>
      </li>
      <li class="">
        <a href="" target="_blank" menu-drop>
          <span class="title">Procedures</span>
          <span class="arrow"></span>
        </a>
        <span class="icon-thumbnail"><i class="fa fa-tasks"></i></span>
        <ul class="sub-menu" uib-collapse="isCollapsed">
          <li class="">
            <a href="#">Pregnancy Guide</a>
            <span class="icon-thumbnail"><i class="fa fa-info-circle"></i></span>
          </li>
          <li class="">
            <a href="#">Breastfeeding Guide</a>
            <span class="icon-thumbnail"><i class="fa fa-info-circle"></i></spn>
          </li>
          <li class="">
            <a href="#">Delivery Procedures</a>
            <span class="icon-thumbnail"><i class="fa fa-info-circle"></i></span>
          </li>
          </ul>
        </li>
      </ul>
    <div class="clearfix"></div>
  </div>