<ion-view view-title="Doctor">
	<ion-content>
		<div class="im-wrapper">
			<div class="list card">
				<img src="img/avatar2x.jpg" class="i-avatar">
				<div class="item item-divider">
					<i class="icon ion-person"></i>
					Doctor's Information
				</div>
				<div class="item item-icon-left">
					<i class="icon ion-person"></i>
					<p>John Doe</p>
				</div>
				<div class="item item-icon-left">
					<i class="icon ion-at"></i>
					<p>johndoe@gmail.com</p>
				</div>
				<div class="item item-icon-left">
					<i class="icon ion-location"></i>
					<p>211 1st St S Ste A, Alabaster, AL 35007</p>
				</div>
				<div class="item item-icon-left">
					<i class="icon ion-ios-telephone"></i>
					<p>(123) 456-7890</p>
				</div>
				<div class="item">
					<button class="button button-block button-positive icon-left ion-ios-paperplane"
					ui-sref="app.compose({email: 'johndoe@gmail.com'})">
						Message Doctor
					</button>
				</div>
				<div class="item item-divider">
					<i class="icon ion-network"></i>
					Practice
				</div>
				<div class="item item-icon-left">
					<i class="icon ion-android-checkmark-circle"></i>
					<p>Medical</p>
				</div>
				<div class="item item-icon-left">
					<i class="icon ion-android-checkmark-circle"></i>
					<p>Orthopedic</p>
				</div>
				<div class="item item-icon-left">
					<i class="icon ion-android-checkmark-circle"></i>
					<p>Psychiatrist</p>
				</div>
				<div class="item item-divider">
					<i class="icon fa fa-hospital-o"></i>
					Work Information
				</div>
				<div class="item item-icon-left">
					<i class="icon fa fa-hospital-o"></i>
					<p>St. Joseph Hospital</p>
				</div>
				<div class="item item-icon-left">
					<i class="icon ion-location"></i>
					<p>211 1st St S Ste A, Alabaster, AL 35007</p>
				</div>
				<div class="item item-icon-left">
					<i class="icon ion-ios-telephone"></i>
					<p>(123) 456-7890</p>
				</div>
				<div class="item">
					<button class="button button-block button-assertive icon-left ion-location"
					ui-sref="app.doctor-hospital({lat: '40.1451', lng:'-99.6680'})">
						View Location
					</button>
				</div>
			</div>
		</div>
	</ion-content>
</ion-view>