<ion-view view-title="Login">
    <ion-content>
        <div class="im-wrapper">
            <div class="list">
                <form ng-submit="login()">
                    <label class="item item-input item-floating-label">
                        <span class="input-label">Email</span>
                        <input type="email" placeholder="Email" ng-model="user.email">
                    </label>
                    <label class="item item-input item-floating-label">
                        <span class="input-label">Password</span>
                        <input type="password" placeholder="Password" ng-model="user.password">
                    </label>
                    <br/>
                    <button type="submit" class="button button-block button-calm ink">
                        Sign in
                    </button>
                </form>
            </div>
        </div>
    </ion-content>
</ion-view>