<ion-view view-title="Dashboard">
	<ion-content>
		<div class="list card">
			<div class="item item-image">
				<img src="img/crown.jpg">
			</div>
			<a class="item text-center item-icon-left assertive">
				<h2>Doctors</h2>
				<i class="icon fa fa-user-md"></i>
			</a>
		</div>
		<div class="list card">
			<div class="item item-image">
				<img src="img/newmaterial.jpg">
			</div>
			<a class="item text-center item-icon-left assertive">
				<h2>Nurses</h2>
				<i class="icon fa fa-stethoscope"></i>
			</a>
		</div>
		<div class="list card">
			<div class="item item-image">
				<img src="img/login.jpg">
			</div>
			<a class="item text-center item-icon-left assertive">
				<h2>Hospitals</h2>
				<i class="icon fa fa-h-square"></i>
			</a>
		</div>
	</ion-content>
</ion-view>