<ion-view view-title="Guides">
	<ion-content>
		<ion-tabs class="tabs-striped tabs-color-assertive tabs-icon-top">

			<ion-tab title="Breastfeeding" icon-on="fa fa-wheelchair" icon-off="fa fa-wheelchair">
				<div class="im-wrapper">
					<!-- Ionic Components -->
					<h4 class="border-top">
						<i class="icon fa fa-wheelchair"></i>
						Breastfeeding Guide
					</h4>
					<p>No need to add new styling! Ionic Material includes <strong>all</strong> <a href="http://ionicframework.com/docs/components/" target="_blank" class="link">Ionic components</a> out of the box, closely themed to the Google Material Design spec.</p>
					<p>View the <a href="../demo/www/index.html"><strong>DEMO APP</strong></a> "Thronester" in /demo/www/ to see how things can be pieced together (notice: it does push the limits on Android).</p>
					<p>
						<em>Ionic Material aims to provide Ionic with the "...visual language [that] synthesizes the classic principles of good design with the innovation and possibility of technology and science."</em>
					</p>
				</div>
			</ion-tab>

			<ion-tab title="Pregnancy" icon-on="fa fa-wheelchair" icon-off="fa fa-wheelchair">
				<div class="im-wrapper">
					<!-- Ionic Components -->
					<h4 class="border-top">
						<i class="icon fa fa-wheelchair"></i>
						Pregnancy Guide
					</h4>
					<p>No need to add new styling! Ionic Material includes <strong>all</strong> <a href="http://ionicframework.com/docs/components/" target="_blank" class="link">Ionic components</a> out of the box, closely themed to the Google Material Design spec.</p>
					<p>View the <a href="../demo/www/index.html"><strong>DEMO APP</strong></a> "Thronester" in /demo/www/ to see how things can be pieced together (notice: it does push the limits on Android).</p>
					<p>
						<em>Ionic Material aims to provide Ionic with the "...visual language [that] synthesizes the classic principles of good design with the innovation and possibility of technology and science."</em>
					</p>
				</div>
			</ion-tab>

			<ion-tab title="Delivery" icon-on="fa fa-info" icon-off="fa fa-info">
				<div class="im-wrapper">
					<!-- Ionic Components -->
					<h4 class="border-top">
						<i class="icon fa fa-info"></i>
						Delivery Guide
					</h4>
					<p>No need to add new styling! Ionic Material includes <strong>all</strong> <a href="http://ionicframework.com/docs/components/" target="_blank" class="link">Ionic components</a> out of the box, closely themed to the Google Material Design spec.</p>
					<p>View the <a href="../demo/www/index.html"><strong>DEMO APP</strong></a> "Thronester" in /demo/www/ to see how things can be pieced together (notice: it does push the limits on Android).</p>
					<p>
						<em>Ionic Material aims to provide Ionic with the "...visual language [that] synthesizes the classic principles of good design with the innovation and possibility of technology and science."</em>
					</p>
				</div>
			</ion-tab>
		</ion-tabs>
	</ion-content>
</ion-view>