<ion-view view-title="Doctor's Profile">
	<ion-content>
		<div class="item item-avatar">
		    <img src="img/demo.jpeg">
		    <h2>Pul Goso</h2>
	  	</div>

	  	<div id="basic_info" class="item item-divider">
	  		Basic Information
	  	</div>
	  	<div class="item">
	  		<strong>Name:</strong> Pul Goso
	  	</div>
	  	<div class="item">
	  		<strong>Gender:</strong> Male
  		</div>
	  	<div class="item">
			<strong>Years in Practice:</strong> 5 yrs
	  	</div>

		<div id="education" class="item item-divider">
	  		Education
	  	</div>
	  	<div class="item">
	  		Jagiellonian University Medical College
	  	</div>
	  	<div class="item">
	  		Jagiellonian University Medical College
	  	</div>
	  	<div class="item">
	  		Jagiellonian University Medical College
	  	</div>

	  	<div id="work" class="item item-divider">
	  		Office Information
	  	</div>
	  	<div class="item">
	  		<strong>
	  			Mobile No.:
	  			<i class="icon ion-ios-telephone-outline"></i>
	  		</strong>
	  		1231231-123123
	  	</div>
  		<div class="item">
	  		<strong>Address:</strong> 795 Folsom Ave, Suite 600
	  	</div>
	  	<div class="item">
	  		<strong>City: </strong> San Francisco, CA 94107
	  	</div>
	</ion-content>
</ion-view>
