<ion-view view-title="Videos">
	<ion-content>
		<div class="row">
			<div class="col">
				<div class="video card"
					ng-repeat="videos in repeat(7) track by $index">
					<iframe height="250" width="100%" src="https://www.youtube.com/embed/R-0LWqa-UNo" frameborder="0" allowfullscreen></iframe>
					<a class="item item-text-wrap">
						<h2>Pretty Hate Machine</h2>
						<p>These sizes and styles balance content density and reading comfort under typical usage conditions. Type sizes are specified with SP (scaleable pixels) to enable large-type modes for accessibility.</p>
					</a>
				</div>
			</div>
		</div>
	</ion-content>
</ion-view>