<ion-view view-title="Hospitals">
	<ion-content>
		<div class="list">
			<div class="item item-input-inset">
				<label class="item-input-wrapper">
					<i class="icon ion-ios-search placeholder-icon"></i>
					<input type="search" placeholder="Search">
				</label>
				<button class="button button-small button-balanced">
					Submit
				</button>
				</div>
			<div class="item item-body">
				<img class="full-image" ng-src="http://placehold.it/50x50">
				<h2>
					<i class="fa fa-h-square"></i>
					St. Joseph Hospital
				</h2>
			</div>
			<div class="item item-body">
				<img class="full-image" ng-src="http://placehold.it/50x50">
				<h2>
					<i class="fa fa-h-square"></i>
					St. Joseph Hospital
				</h2>
			</div>
		</div>
	</ion-content>
</ion-view>
