<ion-view view-title="Hospital">
	<ion-content>
		<div class="item item-body">
			<img class="full-image" ng-src="img/no-image-box.png">
			<h2 class="text-center">
				<i class="fa fa-h-square"></i>
				St. Joseph Hospital
			</h2>
		</div>
		<div id="basic_info" class="item item-divider">
	  		Hospital Information
	  	</div>
	  	<div class="item">
	  		<strong>
	  			Mobile No.:
	  			<i class="icon ion-ios-telephone-outline"></i>
	  		</strong>
	  		1231231-123123
	  	</div>
  		<div class="item">
	  		<strong>Address:</strong> 795 Folsom Ave, Suite 600
	  	</div>
	  	<div class="item">
	  		<strong>City: </strong> San Francisco, CA 94107
	  	</div>
	</ion-content>
</ion-view>